@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  --primary-white:#ffffff;
  --primary-orange:#f98b00;
  --primary-dark:rgb(52,58,64);
  --primary-red:#ef4035;
  --primary-hover-red:#f33501;
  --primary-aqua:#00FFFF;
  --primary-light-grey:#f4f4f4;
  --primary-grey:#ccd1d9;
  --primary-dark-grey:#666666;



}


body {
  font-family: "italic" sans-serif;
}

nav {
  z-index: 2;
}

.logo {
  width:7.25rem;
  height: 100px;
}
/*Menu Links*****/
nav a.nav-link {
  letter-spacing:0.0375rem;
  cursor:pointer;
  font-size: 0.8rem;
  font-style: italic;
  
  
}

nav ul li {
  text-transform: uppercase;
  
}

.navbar-nav > li > a {
  margin-right:0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top:00.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding:0 !important;
  height:6rem !important;
}
@media(max-width:768px) {
  .navbar-brand{
    width: 7rem;
  }
}


.navbar-nav >li > a.active, .navbar-nav > li > a:focus {
  border-top:0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top:00.1875rem solid var(--primary-orange);
}


.header-wrapper {
  position: relative;
  background:url(/Users/sunillama/Assembly25/portfolio1/src/img3.jpeg) no-repeat;
  background-size: cover;
  background-position:center;
  height:100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed" sans-serif;
  z-index: 1;

}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}


/*-------Typed text------------*/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);

}
@media(max-width:768px) {
  .main-info h1 {
    font-size:1.6rem !important ;
}
.typed-text {
  font-size: 1.3rem !important;
}
}
/*-------Header main offer button------------*/
.btn-main-offer {
  border: 2px solid var(--primary-white);
  text-transform: uppercase;
  border-radius: 7px;
  padding:0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem;
  font-style: italic;

}
btn-main-offer:hover {
  text-decoration:none ;
  background-color: var(--primary-hover-red);
  color:var(--primary-white);
  transition: .2s ease-in-out ;
}
.name {
  font-style: italic;

}


.tsparticles-canvas-el {
  position: absolute;
  height:100vh;
  width: 100vh;
  z-index: 1;

}

@media(max-width:768px) {
  .particles-canvas {
    display: none;
  }
}


.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}




.Profile-Img {
  /* height:300px; */
  
  width: 16rem;
  border-radius: 50%;
  padding:.3rem;
  border: 1px solid var(--primary-orange);

}

.about-heading {
  color: var(--primary-orange);
  text-transform: uppercase;
}

@media(max-width:468px) {
  .Profile-Img {
    width:10rem;

  }
}

#resume {
  margin-right: 15px;
  width: 90px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
}
#resume > a {
  text-decoration: none;
  color: black;
}

#linkedin, #github {
  margin-right: 10px;
  width: 50px;
  height: 50px; 
  margin-right: 15px; 
  width: 90px;
  height: 50px; 
  border-radius: 10px; 
  border: 1px solid black; 
  background-color: white; 
}  
#linkedin, #github > a {
  text-decoration: none;
  color: black;
}

#linkedin:hover, #github:hover, #resume:hover {
  transform: scale(1.1);
  cursor: pointer;
}


/**************** Lamguages*************/
.languages {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
  font-style: italic;
}

.languages h1 {
  color:var(--primary-dark);
}


.languages .box {
  height: 16rem;
  border-bottom:0.3125rem solid var(--primary-orange);
  padding:0.625rem;
  margin-bottom:1.875rem;
}

.languages .box:hover {
  background: var(--primary-orange);
  border-bottom:0.3125rem solid var(--primary-dark);
}

.languages .box:hover p {
  color: var(--primary-white);
}

/*******************PROJECTS****************/

.project_container {
  width: 100%;
  height: auto;
  padding: 100px;
  background-color:chocolate;
}

.project_container h1 {
  color: white;
  text-align: center;
  padding: 2%;
}

.project_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 100px;

}
.project_img > img {
  width: 55%;
  height: 800px;
}

.gif > h2 {
  text-align: center;
  color: var(--primary-white) !important;
  font-family: 'Abel', sans-serif;
  font-size: 2em;
  margin-bottom: 20px;
}

.gif > p {
  color: var(--primary-white) !important;
  width: 50%;
  margin: auto;
  font-size: 1.5em;
  font-family: 'Abel', sans-serif;
}

.site_github_container {
  text-align: center;
}

.livesite {
  margin-left: 20px;
  font-size: 30px;
  color: white;
  font-family: 'Indie Flower', cursive;
}

.site_github_container span {
  margin-left: 20px;
  font-size: 30px;
  color: white;
}

.site_github_container > a:hover {
  color: white;
  text-decoration: none;
  color: orange;
}
#githubIMG_2 {
  width: 23px;
  height: 23px;
  margin-left: 25px;
  background: white;
  margin-top: -10px;
}
#githubIMG_3 {
  width: 23px;
  height: 23px;
  margin-left: 10px;
  margin-right: 10px;
  background: white;
  margin-top: -10px;
}
#githubIMG_2:hover, #githubIMG_3:hover {
  transform: scale(1.1);
}

#front, #back {
  font-size: 15px;
}

.frontback:visited {
  color: white;
}



/**************** Experience or project*************/


.project_img > img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.gif > p {
  width: 100%;
  margin-top: 10px;
  font-size: 1em;
}
.gif > h2 {
  font-size: 1.5em;
}
#front, #back {
  font-size: 0.8em;
  margin: 0;
}
.livesite {
  font-size: 1.4em;
}
.site_github_container {
  text-align: left;
}

  /******** project ********/
  .project_img > img {
    width: 100%;
    margin: 0;
    padding: 0;
}
.gif > p {
    width: 100%;
    margin-top: 10px;
    font-size: 1em;

}
.gif > h2 {
    font-size: 1.1em;
}
.livesite {
    font-size: 18px;
}
.site_github_container {
    margin-left: -20px;
}
/******** project ********/
.project_container h1 {
  margin-left: -10px;
}

.project_img > img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.gif > p {
  width: 100%;
  margin-top: 10px;
  font-size: 1em;
}
.gif > h2 {
  font-size: 1.2em;
}
#front, #back {
  font-size: 1em;
  margin-left: 25px;
}
#back {
  margin-left: 28px;
}
.livesite {
  font-size: 1em;
  margin-left: 10px;
}
.site_github_container {
  text-align: left;
}
#githubIMG_2 {
  width: 17px;
  height: 17px;
  margin-left: 25px;
  background: white;
  margin-top: -10px;
}
/******** project ********/
.project_container h1 {
  margin-left: -30px;
}

.project_img > img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.gif > p {
  width: 100%;
  margin-top: 10px;
  font-size: 0.9em;
}
.gif > h2 {
  font-size: 1.5em;
}
#front, #back {
  font-size: 0.5em;
  margin-left: 25px;
}
#back {
  margin-left: 28px;
}
.livesite {
  font-size: 1em;
  margin-left: 10px;
}
.site_github_container {
  text-align: left;
}
#githubIMG_2 {
  width: 17px;
  height: 17px;
  margin-left: 25px;
  background: rgb(218, 191, 191);
  margin-top: -10px;
}
/******** contact ********/
#email_logo {
  margin-top: 50px;
  width: 150px;
  height: 150px;
}
.lets_have_a_conversation {
  margin-top: 50px;
  font-size: 3em;
}


.contact_main_container {
  background-color: var(--primary-white) !important;
  width: 100%;
  height: 100vh;
  display: flex;
}

#contact_btn {
  padding: 0;
  border: none;
  background: none;  
}

.lets_talk {
  font-size: 13em;
  background-color: white;
  color: black;
  font-family: 'Romen' sans-serif;
}

#email_logo {
  width: 100%;
  height: auto;
}
.lets_talk:hover, #email_logo:hover {
  transform: scale(1.1);
}
 /******** contact ********/
 #email_logo {
  width: 300px;
  height: 300px;
}
.lets_talk {
  font-size: 5em;
}

/******** contact ********/
#email_logo {
  width: 100px;
  height: 100px;
  margin-top: -20px;
}
.lets_talk {
  font-size: 3em;
}


/******** contact ********/
#email_logo {
  margin-top: 50px;
  width: 150px;
  height: 150px;
}
.lets_talk {
  margin-top: 50px;
  font-size: 3em;
}


.single_logos img {
  width: 45px;
  height: 45px;
  margin: 8px;
}

.single_logos img {
  width: 25px;
  height: 25px;
  margin: 8px;

}
.single_logos img {
  width: 35px;
  height: 35px;
  margin: 8px;
}
.single_logos img {
  width: 30px;
  height: 30px;
  margin: 8px;
}

.single_logos img {
  width: 70px;
  height: 70px;
  margin: 10px;  
}

.single_logos {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.single_logos_container > p {
  margin-top: 50px;
  text-align: center;
}

.contacts {
  background: var(--primary-dark);
  padding:3rem 0;
}

.contacts h1 {
  color: var(--primary-orange);
  padding:1.3rem 0;
  text-transform: uppercase;
  font-style: italic;
}


.footer {
  background: var(--primary-dark);
  color:var(--primary-grey);
  padding:3rem;
}

.footer a {
  text-decoration: none;
  color: var(--primary-dark-grey);
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-orange);
  cursor: pointer;
}

footer p {
  margin: 0;
}

.item {
  color: white;
}
